.notificationIconStyle{
    position: relative;
    top : 10px;
    width : 22px;
    height : 22px;
}
.searchPlace{
    color : #A8B0B9,
}

.profileImageStyle{
    width : 30px;
    height : 30px;
}

.headingStyle{
    position: relative;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    color: #242D35;
    font-size: 115%
}
  