@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Rajdhani&family=Ubuntu:wght@300&display=swap');

*{
    font-family: "Manrope";
}

.forgot_Password_Encompass{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(10, 9, 9, 0.5);

    font-family: "Manrope";
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1200;
}

.form_Div{
    background-color: white;
    height: 55vh;
    width: 40vw;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.form_Inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email{
    width: 33vw;
    height: 4rem;
    text-align: center;

    font-size: 1.5rem;

    border-style: none;
    border: 0.1rem solid rgba(128, 128, 128, 0.4);
    border-radius: 0.5rem;
}

.email:focus{
    border: none;
    outline: none;
    border: 0.1rem solid rgba(128, 128, 128, 0.4)
}

.email_Label{
    font-size: 2rem;
    font-family: "Manrope";
    font-weight: normal;
}

.forgot_Submit{
    margin-top: 1rem;
    width: 13vw;
    height: 6vh;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(156, 211, 229);
    margin-top: 3rem;

    transition: all 0.3s ease-in;

    border: none;
    align-self: center;
}

.heading{
    font-family: "Manrope";
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.forgot_Submit:hover{
    background-color: rgb(105, 200, 232);
}

.email:focus{
    background-color:rgba(176, 175, 175, 0.2);
}

.forgot_Password_Heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}